<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title>Karen Velasquez</title>
</head>
<body>
     <h1>Menu TP01</h1>
     <ul>
          <li><a href="Factorial?n=6">Factorial</a></li>
          <li><a href="Bisiesto?anio=2010">Añobisiesto</a></li>
	      <li><a href="calculoPar?num1=13">Numero par o impar</a></li>
          <li><a href="/Mes1?num=12">Calculo Mes1</a></li>          
          <li><a href="/Mes2?n=13">Calculo Mes2</a></li>
          <li><a href="/Nota?nu=13">Calculo Calificacion</a></li>
          <li><a href="/Multiplos?num=4">Secuencia de numeros 1</a></li>
          <li><a href="/secuencia2?num=320">Secuencia de numeros 2</a></li>
          <li><a href="/Secuencia3?n=320">Secuencia de numeros 3</a></li>
          <li><a href="/secuencia4?num=320">Secuencia de numeros 4</a></li>
          <li><a href="/tiempo?num=8">ecuacion de caida</a></li>
          
     </ul>
</body>
</html>