<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title>Karen Velasquez</title>
</head>
<body>
     <h1>Menu TP01</h1>
     <ul>
          <li><a href="Factorial?n=6">Factorial</a></li>
          <li><a href="Bisiesto?anio=2010">Añobisiesto</a></li>
	      <li><a href="calculoPar?num1=13">Numero par o impar</a></li>
          <li><a href="/Mes?num=12">Calculo Mes1</a></li>          
          <li><a href="/calculoMes2?number=13">Calculo mes2</a></li>
          <li><a href="/nota?N1=13">Calculo Calificacion</a></li>
          <li><a href="/calculoMultiplos?numero1=4">Secuencia de numeros 1</a></li>
          <li><a href="/calculoRestante1?num1=320">restante1</a></li>
          <li><a href="/calculoRestante2?number=320">restante2</a></li>
          <li><a href="calculoRestante3?numero1=320">restante3</a></li>
          <li><a href="calculoPunto12?numero=8">ecuacion de caida</a></li>
          
     </ul>
</body>
</html>